import firebase from 'firebase';

const config = {
  apiKey: '',
  authDomain: '',
  databaseURL: '',
  projectId: '',
  storageBucket: '',
  messagingSenderId: ''
};

const app = firebase.initializeApp(config);
const auth = app.auth();
const db = app.auth();

export { auth, db };
